.container
{
    max-width:500px;
     
    margin:0 auto;
    padding: 70px;
    box-shadow: rgb(100, 100, 111,0.2)0px 7px 29px 0px;
}

.body{
    padding: 50px;
    background:url("login_bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

 